<div id="footer" ng-init="title='1'">
	<a class="footer-icons fx" ng-click="title='1'" ng-class="{active:title==='1'}" href="#/wenzhang">
		<div class="btn1"></div>
		<span>发现</span>
	</a>
	<a class="footer-icons gz" ng-click="title='2'" ng-class="{active:title==='2'}" href="#/guanzhu">
		<div class="btn2"></div>
		<span>关注</span>
	</a>
	<a class="footer-icons btn-bottom" ng-click="title='3'" ng-class="{active:title==='3'}" href="#/fenxiang"></a>
	<a class="footer-icons xx" ng-click="title='4'" ng-class="{active:title==='4'}" href="#/xiaoxi">
		<div class="btn3"></div>
		<span>消息</span>
	</a>
	<a class="footer-icons wd" ng-click="title='5'" ng-class="{active:title==='5'}" href="#/wode">
		<div class="btn4"></div>
		<span>我的</span>
	</a>
</div>