<div class="swiper-container swiper-container3">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="sp-img">
                    <img src="./images/sp1.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="sp-img">
                    <img src="./images/sp2.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="sp-img">
                    <img src="./images/sp3.png" alt="">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="sp-img">
                    <img src="./images/sp4.png" alt="">
                </div>
                <div class="enter" ng-click="enter()">
                    <img src="./images/enter.png" alt="">
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>