<div class="box">
	<div id="xiaoxi">
		<div class="xiaoxi-title"><b>消 息</b></div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img pl"></div>
				<div class="xiaoxis-font"><b>评论</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img jx"></div>
				<div class="xiaoxis-font"><b>简信</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img tgqq"></div>
				<div class="xiaoxis-font"><b>投稿请求</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img xh"></div>
				<div class="xiaoxis-font"><b>喜欢</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img gz"></div>
				<div class="xiaoxis-font"><b>关注</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img ds"></div>
				<div class="xiaoxis-font"><b>打赏</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
		<div class="xiaoxis">
			<div class="xiaoxis-center">
				<div class="xiaoxis-img qt"></div>
				<div class="xiaoxis-font"><b>其他</b></div>
				<div class="xiaoxis-jiantou"></div>
			</div>
		</div>
	</div>
</div>